In [1]:
10 in [10, 20, 30]

True

In [2]:
5 not in [10, 20, 30]

True

## IF

In [4]:
age = int(input('enter your age...'))

enter your age... 15

In [5]:
if age<= 18:
    print('age <= 18')
elif  age > 18 and age < 30:
    print('18 < age < 30')
else:
    print('age > 30')

age <= 18

In [6]:
my_superhero = input('enter superhero...')

enter superhero... wonder woman

In [7]:
my_superhero_list =  ['wonder woman', 'black widow', 'iron man']

In [8]:
if my_superhero in my_superhero_list:
    print(':)')
else:
    print(':(')

:)

## For

In [10]:
my_list = [10, 20, 30, 40, 50, 60, 70]

In [11]:
for x in my_list:
    if(x%30 == 0):
        print(x)

30
60

In [12]:
my_list = [(1, 2), (3, 4), (5, 6)]

In [13]:
for (x,y) in my_list:
    print(x)

1
3
5

In [14]:
my_dict = {'k1':10, 'k2':20, 'k3':30}

In [15]:
for (key, value) in my_dict.items():
    print(value)

10
20
30

In [16]:
#continue - break - pass

In [17]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80]

In [18]:
for x in my_list:
    print(x)
    if x == 40:
        print('yes')
        break

10
20
30
40
yes

In [19]:
for x in my_list:
    if x == 40:
        continue
    print(x)

10
20
30
50
60
70
80

In [20]:
for x in my_list:
    if x == 40:
        pass

## While

In [22]:
x = 0

In [44]:
while x < 10:
    print(x)
    x = x + 1

0
1
2
3
4
5
6
7
8
9

In [56]:
p = 0 
while p < 5:
    print(f'value of p = {p}')
    print('value of p =', p )
    p = p +1

value of p = 0
value of p = 0
value of p = 1
value of p = 1
value of p = 2
value of p = 2
value of p = 3
value of p = 3
value of p = 4
value of p = 4